<html>
    <head>
       <title>Events Show</title>


<style>
.discussion{
    border: 2px black solid;
    display: inline-block;
    padding: 20px;
}
</style>




    </head>
    <body>
        <div class="left">
            <h3><%= @event.name %></h3>
            <p>Host: <%= @event.user.first_name%> <%= @event.user.last_name%><p>
            <p>Date: <%= @event.date.strftime '%b %-d, %Y' %>
            <p>Location: <%= @event.location%>
            <p>People who are joing the event: <%= @attendants.count %></p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% @attendants.each do |a| %>
                        <td><%= a.first_name %> <%= a.last_name %></td>
                        <td><%= a.location %></td>
                        <td><%= a.state %></td>
                        <% end %>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="right">

        <h3>Discussion about this event:</h3>
            <div class="discussion" style="height:300px;width:400px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                <% @comments.each do |c| %>
                <ul style="list-style: none;">
                    <li><%= c.user.first_name %> says: <%= c.content %></li>
                    <h2>-------------------------<h2>
                </ul>
                <% end %>
            </div>
            <form action='/events/<%= @event.id %>/create' method='post'>
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <p>Comment: <input type="text" name="comment[content]"></p>
                <input type='submit' name='create' value='Submit Comments'/>
            </form>
        </div>
    </body>
</html>
